body {
	font-family: source-sans-pro;
	background-color: #f2f2f2;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color:#17252A;
	float:left;
}
/* Style the navbar */
#navbar {
 overflow: hidden;
 float:inherit;
 background-color: inherit;
}

/* Navbar links */
#navbar a {
 float: center;
 color: #FFFF;
 text-align: center;
 padding-left: 258px;
 text-decoration: none;

}
/* Style the navbar */
#navbar2 {
 overflow: hidden;
 float:inherit;
 background-color: #3AAFA9;
 width:100%;
}

/* Navbar links */
#navbar2 a {
 float: center;
 color: #ffff;
 text-align: center;
 padding-left: 258px;
 text-decoration: none;

}

/* Page content */
.content {
 padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
 position: fixed;
 top: 0;
 width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
 padding-top: 60px;

}

.landing_header {
	color: #FFFFFF;
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
}
/* Hero Section */
.landing {
	background-color:#3AAFA9;
	padding-top: 208px;
	padding-bottom: 355px;
	height: 100%;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
}
}
#wrapper {
	position: absolute;
    top: 0;
    left: 0;
    border: 0;
    z-index: 1; /* <-- this plays a key roll for it to work */
    width: 100% !important /* <-- this plays a key roll for it to work */
    height: 100%;
	margin:0;
	padding:0;
}
/* About Section */
.about img {
    border-radius: 50%;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.about .column h3 {
	color: #FFFFFF;
	text-align: center;
}
.about .column p {
	color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	opacity: 0.8;
}
.about .column p {
	padding-left: 7px;
	padding-right: 107px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	font-size:25px;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 17%;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #6DC7D0;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
}
.about {
	display: inline-block;
	background-color: #3AAFA9;
	padding-bottom: 35px
}
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.profile {
	width: 50%;
}
/* portfolio Section */
.portfolio{border-radius: 10px;
background-color:#17252A;
padding: 50px;
color:#ffffff
}
body, img {
    height: 100%;
    margin: 0;
}
.portfolio2{border-radius: 5px;
background-color:#17252A;
padding: 20px;
color:#ffffff
}
div.desc2 {
    padding: 15px;
    text-align: center;
		padding-left: 159px;


}
h2{
	text-align: center;
	padding-left:159px;
	font-size:38px;
}
h3{
	color:#ffffff;
	text-align: center;
	padding-top: 40px;
	padding-left:159px;
	font-size:38px;
}
h4{
	color:#fff;
	padding-left: 17px;
	font-size:30px;
}
.bg {
    /* The image used */
    background-image: url("img/icon.jpg");

    /* Full height */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.boxc{	background-color:##FFFFFF;

}
.boxc p{
	color:#fff;
	padding-left:20px;
	padding-top: 20px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;

}
div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;

}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
/* CONTACT Section */

input[type=text], select, textarea {
	 width: 100%; /* Full width */
	 padding: 12px; /* Some padding */
	 border: 1px solid #ccc; /* Gray border */
	 border-radius: 4px; /* Rounded borders */
	 box-sizing: border-box; /* Make sure that padding and width stays in place */
	 margin-top: 6px; /* Add a top margin */
	 margin-bottom: 16px; /* Bottom margin */
	 resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button */
input[type=submit] {
	 background-color: #17252A;
	 color: white;
	 padding: 12px 20px;
	 border: none;
	 border-radius: 4px;
	 cursor: pointer;
}

input[type=submit]:hover {
	 background-color:#17252A;
}
.container {
	 border-radius: 5px;
	 background-color:#287A76;
	 padding: 20px;
}
/* More info */
}
.footer {
    background-color: #17252A;
    padding: 10px;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #17252A;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer2 {
    background-color: #3AAFA9;
    padding: 10px;
		padding-left:159px;
}
.copyright2 {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3AAFA9;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.hidden {
	display: none;
}
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}
header nav ul {
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.thumbnail {
	width: 100%;
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}
